*,
*::before,
*::after{
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button,
.btn,
a,
div{
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button:focus,
button:active,
.btn:focus,
.btn:active,
a:focus,
a:active{
    outline: none;
    box-shadow: none;
}

img{
    -webkit-user-drag: none;
    user-drag: none;
    pointer-events: none;
}

::selection{
    background: transparent;
}

::-webkit-selection{
    background: transparent;
}
